{% trans_default_domain 'FOSUserBundle' %}

<div class="container" id="container-signin">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5 text-white" style="background-color:#333333">
                <div class="card-body">
                    <h5 class="card-title text-center">Edit</h5>
                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                    {{ form_widget(form) }}
                    <div class="text-center">
                        <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
