.dataTables_info {
    color: #FFFFFF;
}
.dataTables_length {
    color: #FFFFFF;
}

.dataTables_filter {
    color: #FFFFFF;
}

.dataTables_paginate {
    color: #FFFFFF;
}

.big {
    width: 30%;
    height: 100px;
}